@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);

/*
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
*/

html {
	width: 100%;
	height: 100%;
	font-family: 'Pontano Sans', sans-serif;
}

body {
	width: 99%;
	height: 100%;
}

#background {
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	z-index:-1;
	background: url("../style/images/light_toast.png");
}

#main {
	padding: 41px;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	overflow: auto;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.heading {
	margin-top: 18px;
	margin-bottom: 16px;
}

.headingDetails {
	float:left;
	margin-right:10px;
}

.rightSeperator {
	padding-right:12px;
	border-right: 1px black solid;
}

.leftSeperator {
	padding-right:12px;
	border-left: 1px black solid;
}

.subheading {
	display:inline-block;
	float:left;
	font-size: 1.17em;
	font-weight: bold;
	width:24%;
	padding-top:14px;
}

.subheadingDetails {
	float:left;
	word-wrap: break-word;
	width:74%;
}

.section {
	clear:both;
	height:100%;
}

#title {
	padding: 8px;
	padding-left: 40px;
	padding-bottom: 54px;
	background-color: #DDDDDD;
	margin-bottom:20px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

#title h1 {
	font-size: 3em;
}

#highlights {
	clear:both;
}

#skills {
	clear:both;
}

#experience {
	clear:both;	
}

.experienceSection {

}

h4 {
	margin-bottom:-10px;
	margin-left:26px;
}

#projects {

}

.projectsSection {

}

#education {

}

.educationSection {

}